.nav {
  height: 2.50em;
  width: 100%;
}

.header {
  padding: 0 5% 0 5%;
  font-size: 1.5em;
  font-family: cursive;
  margin-bottom: 1.5em;
  float: right;
}

.header p {
  font-size: 0.8em;
  font-family: sans-serif;
}

.figure {
  height: 29em;
  width: 100%;
  clear: both;
  border-radius: 3%;
}

#cabinet {
  height: 9em;
  background-image: url("../Photos/bandeau.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  border-radius: 3%;
}

.main {
  height: 30em;
  margin-bottom: -3em;
  width: 100%;
  position: relative;
  font-size: 1.3em;
  font-family: sans-serif;
  text-align: justify;
}

.main div {
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -20%;
  transform: translate(-50%, -50%);
  line-height: 220%;
}

.about {
  height: 30em;
  margin-bottom: -3em;
  width: 100%;
  position: relative;
  font-size: 1.3em;
  font-family: sans-serif;
  text-align: justify;
}

.about div {
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -20%;
  transform: translate(-50%, -50%);
  line-height: 220%;
}

.section2 {
  width: 100%;
  height: 12em;
}

.section2 div {
  font-size: 1.6em;
  font-family: cursive;
  text-align: center;
  margin-top: 2.5em;
}

#arlette {
  background-image: url("../Photos/Arlette.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

#map {
  margin-left: 5em;
  margin-right: 5em;
  margin-top: -2em;
}

.footer {
  width: 100%;
  height: 15em;
}

.logo {
  height: 10em;
  margin: 3em;
  width: 25%;
  float: right;
  border-radius: 3%;
}

#logo {
  background-image: url("../Photos/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

.address {
  height: 10em;
  margin: 3em;
  float: left;
  font-size: 1.3em;
  font-family: sans-serif;
}

/*responsive*/

@media only screen and (min-width: 1025px) {
  .logo {
    height: 20em;
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 1025px) {
  .figure {
    height: 25em;
  }
  .main {
    margin-top: 3.5em;
    margin-bottom: 4em;
  }
  .main div {
    font-size: 1em;
  }
  .about {
    margin-top: 3.5em;
    margin-bottom: 3em;
  }
  .about div {
    font-size: 1em;
  }
  .address {
    margin-top: -3em;
    font-size: 1em;
  }
}

@media only screen and (max-width: 750px) {
  .figure {
    height: 15em;
  }
  .main {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .main div {
    font-size: 0.8em;
  }
  .about {
    margin-top: 3em;
    margin-bottom: 2em;
  }
  .about div {
    font-size: 0.8em;
  }
  .address {
    margin-top: -3em;
    font-size: 1em;
  }
}

@media only screen and (max-width: 450px) {
  .main {
    margin-top: 3em;
    margin-bottom: 2em;
  }
  .main div {
    font-size: 0.7em;
  }
  .about {
    margin-top: 3em;
    margin-bottom: 2em;
  }
  .about div {
    font-size: 0.7em;
  }
  .address {
    margin-top: -3em;
    font-size: 1em;
  }
}
