
body {
  background-color: #faf8fa;
}

.grid {
  display: grid;
  grid-gap: 1em;
}

/*.card {
  border: 0.1em lightgray solid;
}*/

#card2, #subcard3 {
  display: none;
}

#card1 {
  grid-area: 1 / 1 / span 20 / span 40;
}

#card3 {
  grid-area: 21 / 1 / span 20 / span 40;
}

#card4 {
  grid-area: 41 / 1 / span 20 / span 40;
}

#card5 {
  grid-area: 61 / 1 / span 5 / span 40;
}

#card6 {
  grid-area: 66 / 1 / span 5 / span 40;
}

.subcard {
  margin: 2em;
  margin-bottom: 0em;
  margin-top: 0em;
  /*border: 0.1em lightgray dashed;*/
}

#subcard1, #subcard2 {
  text-align: center;
  font-family: 'KoHo', "Arial", sans-serif;
  line-height: 1.5em;
  font-size: 1.1em;
}

#subcard1 img {
  border-radius: 50%;
}

#subcard2 img {
  height: 10em;
  width: 7em;
  margin-bottom: -3em;
  border-radius: 3%;
}

#subcard5 {
  font-family: 'KoHo', "Arial", sans-serif;
  line-height: 1.8em;
  font-size: 1.1em;
}

#subcard6 {
  font-family: 'KoHo', "Arial", sans-serif;
  line-height: 1.8em;
  font-size: 1.1em;
}

#subcard6 img {
  height: 10em;
  width: 8em;
}

#subcard7, #subcard8 {
  font-family: 'KoHo', "Arial", sans-serif;
  line-height: 1.8em;
  font-size: 1.1em;
}

#subcard9 {
  text-align: center;
}

#email, #linkedin, #phone {
  font-size: 1.5em;
}

/*responsive*/

@media only screen and (max-width: 610px) {
  #card1, #card2, #card3, #card4, #card5, #card6 {
    grid-column: 1 / span 20;
  }
}

@media only screen and (min-width: 610px) {
  #phone {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  #card1, #card2, #card3, #card4, #card5, #card6 {
    grid-column: 1 / span 10;
  }
  #email, #linkedin, #phone {
    font-size: 3em;
  }
}
